.icons-social a {
  color: #fafafa;
}

.icons-social a svg path {
  fill: #fafafa;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Typography */

@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

.icons-social i {
  font-size: 3em;
}

/* Custom Styles */

.icons-social i {
  padding: 10px;
}

.tagline {
  font-family: "Ceviche One", cursive;
  color: #fff;
  font-size: 1rem;
}
