ol,
ul {
  list-style: none;
}

.icons-social a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.icons-social i {
  font-size: 2em;
}

@media (min-width: 768px) {
  .icons-social i {
    font-size: 3em;
  }
}

/* Custom Styles */

.icons-social i {
  padding: 10px;
}

.tagline {
  font-family: "Ceviche One", cursive;
  font-size: 1rem;
}
