/* @import url(https://fonts.googleapis.com/css?family=Luckiest+Guy);
@import url(https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap);
@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe&display=swap);
@import url(https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap);
@import url(https://fonts.googleapis.com/css?family=Kristi&display=swap); */
@import url(https://fonts.googleapis.com/css?family=Ceviche+One&display=swap);

.centered {
  position: relative;
  opacity: 0;
  animation: bounceIn 1s ease-in forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  /* font-family: "Luckiest Guy", cursive;
  font-family: "Black Ops One", cursive;
  font-family: "Sigmar One", cursive;
  font-family: "Kristi", cursive;
  font-family: "Mr Dafoe", cursive; */
  font-family: "Ceviche One", cursive;
  font-size: 5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.circle_container {
  position: absolute;
  height: 10px;
  bottom: 0;
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  border-radius: 100%;
  opacity: 0;
}

@keyframes move {
  0% {
    opacity: 0;
    bottom: 0;
  }

  1% {
    opacity: 0.6;
  }

  40% {
    opacity: 0.4;
  }

  100% {
    opacity: 0;
    bottom: 100%;
  }
}

@media (min-width: 500px) {
  .circle_container {
    animation-duration: 4s;
  }
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
